.label, .back{
    font-weight: bold
}

.back{
    font-size: 24px;
}

.container{
    padding: 20px;
    position: relative;
}

.join{
    --background: linear-gradient(to top right, purple, #c12ef2)
}


.input{
    
}
