<div class = "container">
  <div class = "header">
    <h1>Tasks</h1>
  </div>
  <ion-list class = "list">
    <ion-item *ngFor = "let task of tasks; index as i" (click) = "openModal($event)" [id] = "i">
      <div style = "width: 200px">
        <img [src] = "task.user.image" class = "img"> &nbsp;
        <b>{{task.user.name}}</b>
        <p class = "task-desc">
          {{task.service.description}} 
        </p>
        <ion-text color = "primary">
          <h4>More</h4>
        </ion-text>
      </div><br>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen] = "isModalOpen">
    <ng-template>
      <div (click) = "closeModal()">
        <ion-icon name = "chevron-back" style = "font-size: 28px"></ion-icon>
      </div>

     <div class = "container">
      <h1>Details</h1><br>
      <ion-img [src] = "taskDetails.user.image" class = "img"></ion-img>
      <h4>Request from {{taskDetails.user.name}}</h4>
      <span><b>Type: </b>{{taskDetails.service.type}}</span><br><br>
      <span><b>Occasion: </b>{{taskDetails.service.occasion}}</span><br><br>
      <span><b>Description: </b><br>{{taskDetails.service.description}}</span><br>
      <div class = "btn-container">
        <ion-button color = "primary" class = "btn" (click) = "accept()">Accept</ion-button>
        <ion-button color = "medium" class = "btn" (click) = "refuse()">Refuse</ion-button>
      </div>
     </div>

    </ng-template>
  </ion-modal>

  <ion-modal [isOpen] = "isModal2Open">
    <ng-template>
      <div (click) = "closeModal2()">
        <ion-icon name = "chevron-back" style = "font-size: 28px"></ion-icon>
      </div>

      <form class = "form container" [formGroup] = "form" (ngSubmit) = "submit()"> 
        <ion-item>
          <ion-label>Free service</ion-label>
          <ion-checkbox color = "primary" formControlName = "free"></ion-checkbox>
        </ion-item>

        <ion-item [hidden] = "form.value['free']"> 
          <ion-input placeholder = "Enter credit card number"  formControlName = "card"></ion-input>
        </ion-item>

        <ion-item [hidden] = "form.value['free']"> 
          <ion-input placeholder = "Enter cost in dollars($)" formControlName = "cost" type= "number"></ion-input>
        </ion-item>
        <ion-button type = "submit" [disabled] = "!valid()" expand = "full">Confirm</ion-button>
      </form>
    </ng-template>
  </ion-modal>
</div>