<div [hidden] = "containers.length !== 0">
  <app-loading></app-loading>
</div>
<div [hidden] = "containers.length === 0" class = "container">
  <ion-item class = "search">
    <ion-icon name = "search"></ion-icon>
    <ion-input placeholder = "search for a celebrity"></ion-input>
  </ion-item><br><br>
  <ng-container *ngFor = "let container of containers">
    <h1>{{container.header.name}}</h1>
    <swiper #swiper [config] = "config">
      <ng-template swiperSlide *ngFor = "let talent of container.talents" class = "talent">
          <div (click) = "talentDetails(talent.name)">
            <ion-img [src] = "talent.image" class = "img"></ion-img><br>
            <span style = "margin-left: 0px; text-align: center; font-weight: bold">{{talent.name}}</span>
          </div>
      </ng-template>
    </swiper>
  </ng-container>

</div>
