<div class = "container" [ngClass] = "{'not-bright': isModalOpen}">
  <ion-icon name = "chevron-back" style = "font-size: 30px" color= "primary" (click) = "back()"></ion-icon>
  

  <div class = "main">
    <div class = "header">
      <div style = "float: left">
        <h5 class = "font-responsive">{{talentDetails.name}}</h5>
        <p class = "font-responsive">{{talentDetails.country}}</p>
        
        <div class = "rating">
          <ion-icon name = "star" color = "warning"></ion-icon>&nbsp;
          <span class = "font-responsive">{{talentDetails.rating | number: '1.1-1'}}</span><br>
          <span class = "font-responsive">{{reviews.reviewNum}} Review(s)</span>
          <ion-text class = "make-review" color = "primary" (click) = "openModal3()" [hidden] = "!canRate || !canBookService()">Rate Talent</ion-text>
        </div>
      </div>
      <img [src] = "talentDetails.image" class = "img">
    </div><br><br><br><br><br><br><br><br><br><br><br>

    <div class = "categories">
        <ng-container *ngFor = "let category of talentDetails.categories">
          <span class = "font-responsive-category">{{category.name}}</span> &nbsp; &nbsp;
        </ng-container>
    </div><br><br><br><br>

    <div class = "videos" style = "padding: 0;">
      <h5 class = "font-responsive">Videos</h5>
      <swiper #swiper [config] = "config">
        <ng-template swiperSlide *ngFor = "let video of videos; index as i">
            <ion-icon [name] = "videos[i].state" class = "control" color = "light" (click) = "stopOrPlay(video)" ></ion-icon>
            <ion-icon [name] = "videos[i].volume" class = "control volume" color = "light" (click) = "muteOrEnable(video)"></ion-icon>
            <video #video class = "video" autoplay [muted] = "true" loop (click) = "fullScreen(video)" [id] = "i" [controls] = "videos[video.id].controls">
              <source [src] = "videos[i].source" type = "video/mp4">
            </video>
        </ng-template>
      </swiper>
    </div>

    <div class = "description font-responsive-category">
      {{talentDetails.description}}
    </div>

    <div class = "reviews">
      <h1>Reviews</h1>
      <ng-container *ngFor = "let review of reviews.content">
        <div class = "comment" *ngIf = "review !== undefined">
          <div style = "float: right">
            <ng-container *ngFor = "let number of [1,2,3,4,5]">
              <ion-icon name = "star" color = "warning" *ngIf = "number <= review.rating"></ion-icon>
              <ion-icon name = "star" color = "medium" *ngIf = "number > review.rating"></ion-icon>
            </ng-container>
          </div>
          <img [src] = "review.userImage" class = "user-img"> &nbsp;
          <b>{{review.username}}</b>
          <p>{{review.comment}}</p>
        </div>
      </ng-container>
    </div>
  </div>



  <ion-modal [isOpen] = "isModalOpen" class = "half">
    <ng-template>
      <div (click) = "closeModal()">
        <ion-icon class = "exit" name = "close"></ion-icon>
      </div>

      <div style = "padding: 10px">
        <h1>Choose service</h1>

        <div id = "personal" [ngClass] = "{'option-selected': service.personal, option: !service.personal}" (click) = "select($event)">
          <ion-icon name = "gift-sharp" class = "font-responsive"></ion-icon>&nbsp; &nbsp;
          <b class = "font-responsive">Personal Video</b>
          <ion-icon name = "checkmark-circle" class = "font-responsive checked" [hidden] = "!service.personal" color = "primary"></ion-icon>
        </div>

        <div id = "advertisement" [ngClass] = "{'option-selected': service.advertisement, option: !service.advertisement}" (click) = "select($event)">
          <ion-icon name = "radio-sharp" class = "font-responsive"></ion-icon>&nbsp; &nbsp;
          <b class = "font-responsive">Advertisement</b>
          <ion-icon name = "checkmark-circle" class = "font-responsive checked" [hidden] = "!service.advertisement" color = "primary"></ion-icon>
        </div>

        <ion-button color = "primary" style = "width: 100%; margin-bottom: 10%" (click) = "openModal2()" type = "button">Continue</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen] = "isModal2Open">
    <ng-template>
      <div (click) = "closeModal2()">
        <ion-icon name = "chevron-back" style = "font-size: 28px"></ion-icon>
      </div>

        <img [src] = "talentDetails.image" class = "img2"> &nbsp;
        <b class = "font-responsive-category">New Request to {{talentDetails.name}}</b>
      <form class = "container form" [formGroup] = "form" (ngSubmit) = "submit()">
        
        <ion-item>
          <ion-label><b>What's the occasion</b></ion-label>
          <ion-select formControlName = "occasion">
            <div *ngIf = "service.personal">
              <ion-select-option>Birthday</ion-select-option>
              <ion-select-option>Anniversary</ion-select-option>
              <ion-select-option>Graduation</ion-select-option>
              <ion-select-option>Question</ion-select-option>
              <ion-select-option>Events</ion-select-option>
              <ion-select-option>Advice</ion-select-option>
              <ion-select-option>Other</ion-select-option>
            </div>

            <div *ngIf = "service.advertisement">
              <ion-select-option>Marketing video</ion-select-option>
              <ion-select-option>New business</ion-select-option>
              <ion-select-option>Announcement</ion-select-option>
              <ion-select-option>Endorsement</ion-select-option>
            </div>
          </ion-select>
        </ion-item><br><br>
        <ion-item>
          <ion-label position = "floating">Description (be specific)</ion-label>
          <ion-textarea style = "padding: 10px" formControlName = "description"></ion-textarea>
        </ion-item><br><br>
        <ion-button color = "primary" style = "width: 100%; margin-bottom: 10%" [disabled] = "form.invalid" type = "submit">Submit</ion-button>
      </form>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen] = "isModal3Open">
    <ng-template>
      <div class = "container">
        <div (click) = "closeModal3()">
          <ion-icon name = "chevron-back" style = "font-size: 28px" color = "primary"></ion-icon>
        </div>
        <div class = "rating-dialogue">
          <h1 style = "text-align: center">Rate {{talentDetails.name}}</h1>
          <form [formGroup] = "ratingForm" (ngSubmit) = "submitReview()">
            <div class = "stars">
              <ng-container *ngFor = "let number of [1,2,3,4,5]">
                <ion-icon [name] = "stars[number-1]" color = "primary" [id] = "number" style = "font-size: 200%; margin-left: 2%" (click) = "setRating($event)"></ion-icon>
              </ng-container>
            </div>
            <ion-item>
              <ion-textarea placeholder = "post a comment" formControlName = "comment"></ion-textarea>
            </ion-item>
            <ion-button expand = "block" type = "submit" [disabled] = "ratingForm.invalid" style = "width: 100%">Submit</ion-button>
          </form>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen] = "isModal4Open" class = "half">
    <ng-template>
      <div class = "container">
        <div (click) = "closeModal4()">
          <ion-icon class = "exit" name = "close"></ion-icon>
        </div>
        <div>
          <ion-icon color = "primary" name = "calendar-clear" style = "float: left; font-size: 150%"></ion-icon> &nbsp;
          Make your request to a star you choose
        </div><br><br>
        <div>
          <ion-icon color = "primary" name = "notifications" style = "float: left; font-size: 150%"></ion-icon> &nbsp;
          <p style = "margin-left: 10%; margin-bottom: 5%;">
            A notification will be sent to you once a celebrity makes a response
          </p>
        </div>

      </div>
    </ng-template>
  </ion-modal>
</div>

<div class = "button-container">
  <ion-button class = "button" (click) = "openModal()" type = "button" *ngIf = "canBookService()">Book Now</ion-button>
    <ion-button color = "primary-contrast" class = "button2" type = "button" (click) = "openModal4()" *ngIf = "canBookService()">
      <ion-icon name = "alert-circle" color = "dark"></ion-icon>
    </ion-button>
</div>

