@import url("../home/home.component.scss");


.header{
    border-bottom: 2px solid rgb(224, 45, 224);
    position: fixed;
    width: 90%;
    z-index: 999;
}

ion-item{
    padding: 10px;
}

.img{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(177, 7, 177);
    border-radius: 50%;
}

.container{
    overflow: scroll
}

.list{
    margin-top: 13%;
}

.text{
    margin-top: 50px;
    margin-left: 20px;
}