
.logo-starTeract {
    height: 70px;
    width: 200px;
}

.header, .logo-starTeract{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}



.header-text{
    margin-top: 80px;
    text-align: center; 
    font-weight: bold;
    line-height: 1.6;
}

.actions{
    position: absolute;
    margin-left: 0;
    top: 80%;
    width: 100%;
    padding-left: 23%;
}

.action{
    margin-right: 11%;
    height: 50px;
    width: 30%;
    --background: transparent;
    font-weight: bold;
    border: 3px solid rgb(248, 150, 248);
    border-radius: 10px;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container{
    animation: fade 1s;
}

.half{
    height: 50%;
    top: 50%;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid grey;
}

.home {
    animation: fade 2s;
}

.exit{
    background: grey;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50px;
    padding: 5px;
    color: white;
    margin-left: 90%;
}

.header2{
    font-weight: bold;
    text-align: center;
}

.actions2{
    margin: 10px;
}

.action2{
    height: 50px;
    margin-top: 10%;
    --background: linear-gradient(to top right, purple, rgb(187, 7, 187))
}

.facebook{
    --background: rgb(76, 76, 235);
}

.google{
    --background: rgb(235, 235, 241);
    --color: black;
}



