<div>
  <app-loading [hidden] = "!loading"></app-loading>
  
  <div [hidden] = "loading" class = "home background">
    <div class = "header">
      <ion-img [src] = "image" class = "logo-starTeract"></ion-img>
      <div class = "header-text">
    <h1 style = "font-weight: bold; font-size: 180%; color: white">Make Someone's day</h1>
        <h5 style = "overflow-wrap: break-word; font-size: 150%; color: white">Get a Unique Experiece from your favorite star</h5>
      </div>
    </div>
    
    
    <div class = "actions">
      <ion-button class = "action" (click) = "openModal($event)">Login</ion-button> 
      <ion-button class = "action" (click) = "openModal($event)">Sign up</ion-button>
    </div>
  </div>

</div>



<ion-modal [isOpen] = "isModalOpen" class = "half">
  <ng-template>
    <div (click) = "closeModal()">
      <ion-icon class = "exit" name = "close"></ion-icon>
    </div>
      <h5 class = "header2">{{modal.header}}</h5>

      <div class = "actions2">
        <ion-button expand = "block" class = "facebook action2">
          <ion-icon name = "logo-facebook" style = "color: white"></ion-icon> &nbsp;
          <b>{{modal.button1}}</b>
        </ion-button>
  
        <ion-button expand = "block" class = "google action2" (click) = "googleAuth()">
          <ion-icon name = "logo-google" style = "color: black"></ion-icon> &nbsp;
          <b>{{modal.button2}}</b>
        </ion-button>
    
        <ion-button expand = "block" class = "email action2" (click) = "action()">
          <b>{{modal.button3}}</b>
        </ion-button>
      </div>

  </ng-template>
</ion-modal>

