@import url("../register/register.component.scss");
@import url("../registerTalent/register-talent.component.scss");


.container{
    bottom: 40%;
}

.back{
    margin-top: 20px;
    font-size: 27px;
}

