@import url("../notifications/notifications.component.scss");
@import url("../tasks/tasks.component.scss");

.task-desc{
    width: 300px; 
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 40px;
}

.content{
    width: 100%;
}