<div class = "container">
  <div class = "header">
    <h1>Activities</h1>
  </div>

  <ion-list class = "list">
    <ion-item *ngFor = "let activity of activities; index as i" [id] = "i" (click) = "openModal($event)">
      <div class = "content">
        <img [src] = "activity.image" class = "img"> &nbsp;
        <b>{{activity.name}}</b>
        <p class = "task-desc">
          {{activity.task}}
        </p>
        <ion-text color = "primary">
          <h4>More</h4>
        </ion-text>
      </div>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen] = "isModalOpen">
    <ng-template>
      <div class = "container">
        <div (click) = "closeModal()">
          <ion-icon name = "chevron-back" style = "font-size: 28px"></ion-icon>
        </div>
      </div>


      <div class = "container">
        <h1>Details</h1>
        <img [src] = "activityDetails.image" class = "img">
        <h4>from {{activityDetails.name}}</h4>
        <p>{{activityDetails.task}}</p>
        <div class = "btn-container">
          <ion-button color = "primary" class = "btn" (click) = "accept()" style = "margin-left: 20%">Proceed</ion-button>
          <ion-button color = "medium" class = "btn" (click) = "cancel()" *ngIf = "activityDetails.type === 'payment'">Cancel</ion-button>
        </div>
      </div>

    </ng-template>
  </ion-modal>

  <ion-modal [isOpen] = "isModal2Open">
    <ng-template>
      <div class = "container" >
        <div (click) = "closeModal2()">
          <ion-icon name = "chevron-back" style = "font-size: 28px"></ion-icon>
        </div>

        <div class = "upload" style = "width: 300px">
          <h1 style = "text-align: center">Upload a video</h1>
          <p style = "text-align: center; color: rgb(202, 200, 200)">
            Click on the button to upload a video
          </p>

        <form [formGroup] = "form" (ngSubmit) = "uploadVideo()">
          
          <ion-item>
            <ion-input placeholder = "Enter video title" formControlName = "title"></ion-input>
          </ion-item>
          <ion-button (click) = "file.click()" class = "upload-btn">
            <span>Choose video to upload</span>
            <input #file type = "file" type = "file" style = "display: none" accept = "video/mp4, video/x-m4v, video/*" (change) = "upload($event)" formControlName = "video">
          </ion-button>
          <p style = "text-align: center;" *ngIf = "selectedVideo !== null">{{selectedVideo.name}}</p>
          <ion-button class = "upload-btn" [disabled] = "form.invalid" type = "submit">
            Upload video
          </ion-button>
        </form>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</div>